<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Playfair+Display+SC" rel="stylesheet">
    <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/Content/css/bootstrap.css">
    <meta charset="utf-8">
    <title>Library</title>
  </head>
  <body>
    <div class="container">

      <center>
      @Html.Partial("header.cshtml")
      @RenderBody()
      @Html.Partial("footer.cshtml")
    </div>
  </body>
</html>
