@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Add a Venue</h2>

<form action="/venue/new" method="post">
  <input type="text" name="name" placeholder = "venue name">
  <button type="submit" name="button">Add this venue</button>
</form>
